################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/AlaskaGroupProject
/ProjetoJederson/.vs/ProjetoJederson
/ProjetoJederson/WebApi/obj
/ProjetoJederson/WebApi/bin
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
