################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/AlaskaGroupProject
/ProjetoJederson/.vs/ProjetoJederson
/ProjetoJederson/WebApi/obj/Release/netcoreapp3.1
